@page
@model MegaDesk2.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Desk</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Depth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Depth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.NumDrawers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.NumDrawers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Shipping)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Shipping)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.QuoteDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.QuoteDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Desk.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
